<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Conta Corrente</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main>
      <div class="box">
        <div class="box-title"><h1>Gerenciador de Conta Corrente</h1></div>
        <% if !current_page?(controller: 'home') %>
          <a href="/" title="Voltar">< Voltar</a>
          <br/>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
